{
  "parser": "babel-eslint",
  "extends": [
    "oceanprotocol",
    "plugin:prettier/recommended",
    "prettier/standard"
  ],
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": "error"
  },
  "env": {
    "es6": true
  }
}
